# Logs
logs
*.log
pnpm-debug.log*
.env

node_modules
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# composite tsc
tsconfig.tsbuildinfo

# Module federation temp files
.__mf__temp
*storybook.log

vite.config.ts.timestamp-*
vitest.config.ts.timestamp-*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Turborepo
.cache
.turbo
